<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
    <script src="https://kit.fontawesome.com/1a954e04d1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/register.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
</head>

<body>

    <header>
        <section id="configHeader">
            <figure id="logo">
                <a href="/">
                    <img src="/images/LogoMercadoLiebre.svg" alt="LogoMercadoLiebre">
                </a>
            </figure>

            <section class="contenedor__buscador">
                <form action="/buscar" method="POST">
                        <input type="text" placeholder="Buscá productos, marcas y más" required="">
                    <div class="configLupa">
                        <button type="submit"><i class="fas fa-search"></i></button>
                    </div>
                </form>
            </section>
            
            <section class="cuotas">
                <div><i class="fas fa-hand-holding-usd"></i></div>
                <p>Comprá en cuotas y sin tarjeta de crédito</p>
            </section>
            
            <nav>
                <ul class="Confignav">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul class="Confignav">
                    <li><a href="register">Creá tu cuenta<i class="far fa-id-card"></i></a></li>
                    <li><a href="login">Ingresá<i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="#">Mis compras<i class="fas fa-shopping-basket"></i></a></li>
                </ul>
            </nav>

            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>

            <figure id="BannerOfertas">
                <img src="/images/Ofertas.jpg" alt="BannerOfertas">
            </figure>
    </header>
    
    <div class="main">
        <form action="/" method="POST" class="formularioRegistro">
            <div>
                <div>
                    <div class="campo">
                        <input type="text" placeholder="Nombre y apellido" required minlength="8">
                    </div>
                    <div class="campo">
                        <input type="text" placeholder="Nombre de usuario" required>
                    </div>
                    <div class="nacimiento">
                        <label for="fechaNacimiento">
                            <h2>Fecha de nacimiento</h2>
                        </label>
                        <input type="date" id="fechaNacimiento" required>
                    </div>
                    <div class="campo">
                        <input type="text" placeholder="Domicilio" required>
                    </div>
                    <div class="perfilUser">
                        <label for="comprar-vender">
                            <h2>Perfil de usuario</h2>
                        </label>
                        <select name="compradorVendedor" id="compradorVendedor" required>
                            <option value="comprador">Comprador</option>
                            <option value="vendedor">Vendedor</option>
                        </select>
                    </div>
                </div>
                <div>
                    <div class="intereses">
                        <label>
                            <h2>Intereses</h2>
                        </label>
                        <div class="checkboxes">
                            <div>
                                <input type="checkbox" name="intereses" value="electro" id="electro">
                                <label for="electro">Electro</label>
                            </div>
                            <div>
                                <input type="checkbox" name="interes" value="moda" id="moda">
                                <label for="moda">Moda</label>
                            </div>
                            <div>
                                <input type="checkbox" name="interes" value="jugueteria" id="jugueteria">
                                <label for="jugueteria">Jugueteria</label>
                            </div>
                            <div>
                                <input type="checkbox" name="interes" value="hogar" id="hogar">
                                <label for="hogar">Hogar</label>
                            </div>
                            <div>
                                <input type="checkbox" name="interes" value="vidaSana" id="vidaSana">
                                <label for="vidaSana">VIda Sana</label>
                            </div>
                        </div>
                    </div>
                    <div class="fotoUser">
                        <label for="fotoUser">
                            <h2>Foto de perfil</h2>
                        </label>
                        <input type="file" name="fotoUser" id="fotoUser" required>
                    </div>
                </div>
            </div>
            <div class="campo">
                <input type="password" placeholder="Contraseña" required>
            </div>
            <div class="campo">
                <input type="password" placeholder="Confirmar contraseña" required>
            </div>
            <div class="botones">
                <div class="campo, botonRegister">
                    <button type="submit">Registrarse</button>
                </div>
                <div class="campo, botonErase">
                    <button type="reset">Borrar todo</button>
                </div>
            </div>
        </form>
    </div>
    </main>

    <footer>
        <div class="configFooter1">
            <section class="configFooter2">
                <i class="fas fa-solid fa-credit-card"></i>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </section>

            <section class="configFooter2">
                <i class="fas fa-solid fa-gift"></i>
                <h3>Envío gratis desde $ 2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </section>

            <section class="configFooter2">
                <i class="fas fa-solid fa-user-shield"></i>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </section>
        </div>
        <p id="copyright">Copyright 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>

</html>